In [64]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import accuracy_score

In [11]:
print(os.getcwd())

/nfs/science/shared/ipythonNotebooks/leom/Kaggle/Ynap-master

In [12]:
data_path = os.path.join(os.getcwd(), 'ynap_data')
print(data_path)

/nfs/science/shared/ipythonNotebooks/leom/Kaggle/Ynap-master/ynap_data

In [13]:
df_tot = pd.read_csv(os.path.join(data_path, 'df_tot.csv'))

In [14]:
df_tot.head()

,customer_id,var3,var4,var5,var6,lapsed_next_period,order_id,product_id,product_type_id,designer_id,gross_spend,net_spend,item_returned,quote_spend_returned,quote_var1,quote_var2
0,553547,3.0,0.34,0.0,0.0,0,53,78,24,43,74.592,56.543,12,0.241970,0.573171,0.573171
1,213578,3.0,0.11,0.0,0.0,0,364,921,62,256,550.974,469.624,146,0.147648,0.736243,0.000000
2,906135,3.0,0.05,0.0,0.0,0,146,535,45,153,825.134,237.765,437,0.711847,0.112573,0.681287
3,226782,2.0,0.01,0.0,0.0,0,76,190,25,75,53.480,35.107,36,0.343549,0.000000,0.492823
4,103600,2.0,0.33,1.0,0.0,0,72,199,29,85,178.566,84.784,115,0.525195,0.353191,0.225532

In [16]:
custs = df_tot['customer_id']
X = df_tot.drop(['customer_id', 'lapsed_next_period'], axis=1)
y = df_tot[['customer_id', 'lapsed_next_period']]

print(X.shape)
print(y.shape)

(15695, 14)
(15695, 2)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [49]:
X_train_1 = X_train.loc[y_train[y_train['lapsed_next_period'] == 1].index]
X_train_0 = X_train.loc[y_train[y_train['lapsed_next_period'] == 0].index]

In [51]:
print(X_train_1.shape)
print(X_train_0.shape)
print(X_train_1.shape[0]/X_train.shape[0])

(664, 14)
(11892, 14)
0.05288308378464479

In [53]:
X_train_0_ = X_train_0.sample(n=X_train_1.shape[0], random_state=2121)

In [58]:
X_train_ = X_train_0_.append(X_train_1)
print(X_train_.shape)

y_train_ = y_train.loc[X_train_.index]
print(y_train_.shape)

(1328, 14)
(1328, 2)

In [66]:
# Random Forest example
rf_params = {
    'n_jobs': -1,
    'n_estimators': 500,
     'warm_start': True, 
     #'max_features': 0.2,
    'max_depth': 6,
    'min_samples_leaf': 2,
    'max_features' : 'sqrt',
    'verbose': 0
}

rf = RandomForestClassifier(**rf_params)
rf.fit(X_train_, y_train_['lapsed_next_period'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=6, max_features='sqrt', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0, warm_start=True)

In [67]:
rf_pred = rf.predict(X_test)

In [68]:
rf_pred.sum()/len(rf_pred)

0.3370500159286397

In [69]:
accuracy_score(y_test['lapsed_next_period'], rf_pred)

0.69194010831474995